$video-height: 85vh;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap");
@import "./animations";
@import "./cta";
@import "./typography";

$main-font: "Neue Haas", sans-serif;

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

body {
  margin: 0;
}

#background-video {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  z-index: -1;
}

.video__container {
  height: 85vh;
  overflow: hidden;
  position: relative;
}

#background-video__mesh {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 90vh;
}

.curtain__container {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 90vh;
  article {
    width: 50%;
    background-color: black;
    height: 100%;
  }
}

h4 {
  font-family: $main-font, sans-serif;
  color: aliceblue;
  font-size: 2.4em;
  z-index: 150;
  margin: 0;
  margin-top: 2em;
  max-width: 40ch;
  display: flex;
  padding-left: 5%;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-transform: scale(0.94);
  transform: scale(0.94);
  top: 11%;
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.subtitle {
  font-family: $main-font, sans-serif;
  color: aliceblue;
  z-index: 150;
  transform: scale(0.94);
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 2.1em;
  line-height: 40px;
  text-align: right;
  letter-spacing: -0.045em;
  padding-right: 4%;
}

.title-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 30px;
  letter-spacing: -0.015em;
  font-family: $main-font, sans-serif;
  color: #ffffff;
  max-width: 80%;
  padding-left: 3%;
}

.vignette {
  position: absolute;
  top: 0;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
  width: 100%;
}

.content__container {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: row;
  height: 15vh;
  background-color: black;
  color: white;
  width: 100%;
  justify-content: space-between;
  font-family: $main-font;
  align-items: center;
  align-content: center;
  a {
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 29px;
    text-align: right;
  }
  header {
    display: flex;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    text-transform: lowercase;
  }
  ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
  }
  article {
    @extend section;
  }
}

menu {
  section {
    color: whitesmoke;
    font-family: $main-font;
  }
}

.contact-link {
  margin: 14px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-transform: lowercase;
  margin-top: 50px;
}

.menu-link {
  @extend .contact-link;
}
/* Small devices (mobile phones) */
@media only screen and (max-width: 600px) {
  /* CSS rules for small devices */
  h4 {
    font-size: 2.4em;
  }
  #background-video {
    width: 100vw;
  }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* CSS rules for medium devices */
  h4 {
    font-size: 2.4em;
  }
  .title-caption {
    font-size: 1.7em;
  }
  #background-video {
    width: 100vw;
  }
}

.main-content__container {
  display: flex;
  overflow-y: scroll;
}

/* Large devices (desktops) */
@media only screen and (min-width: 993px) {
  /* CSS rules for large devices */
  .content__container {
    width: 80%;
  }
  .splash-content__container {
    width: 80%;
    height: 100vh;
  }
  h4 {
    font-size: 4em;
  }
  .title-caption {
    font-size: 2.2em;
    line-height: 39px;
  }
  #background-video {
    width: 90vw;
  }
  menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    section {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      align-items: center;
      width: 100%;
      display: flex;
    }
  }
}
@media (max-width: 768px) {
  .main-content__container {
    display: flex;
    flex-direction: column;
  }
  menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .contact-link {
    margin-top: 0;
    margin: 0;
    margin: 14px;
  }
  .menu-link {
    margin-top: 0;
    margin: 0;
    margin: 14px;
  }
}

#title-text {
  background-image: linear-gradient(
    -225deg,
    #ff0000 0%,
    #cdebee 29%,
    #d4eeea 67%,
    #ff0000 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
