@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayBlack.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayBlackItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayBoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayMedium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayMediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayRoman.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayRomanItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayLight.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas";
  src: url("../fonts/NeueHaasDisplayLightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

$main-font: "Neue Haas", sans-serif;
