@import "../../styles/main";

footer {
	display: flex;
	flex-direction: row;
	height: 10vh;
	background-color: black;
	color: white;
	width: 100%;
	justify-content: space-around;
	font-family: $main-font;
	align-items: center;
	align-content: center;
	a {
		color: white;
		text-decoration: none;
	}
	header {
		display: flex;
		text-align: center;
	}
	ul {
		padding: 0;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}
	section {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: small;
	}
	article {
		@extend section;
	}
}
